<!DOCTYPE html>
<html>
<head>
  <title>GithubFantasyLeague</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='wrap'>
    <div class='container'> 
      <div class='header'>
        <%= image_tag 'header.png' %>
      </div>
      <div class='content'>
        <%= yield %>
      </div>
    </div>
  </div>
  <div id='footer'>
    a 
    <%= link_to 'fantastical', 'http://brilliantfantastic.com' %>
    production
  </div>

</body>
</html>
